/* Break points for various devices */
$breakpointXSmall		:	320px;
$breakpointSmall		:	414px;
$breakpointMedium		:	719px;

/* Fonts used */
$primaryFontFamily		:	"Roboto Condensed","Open sans",Helvetica,arial,sans-serif;
$secondaryFontFamily	:	"Roboto","Open sans",Helvetica,arial,sans-serif;
